/* sliderCustom.css */

.slick-dots {
  bottom: -20px; /* jarak dari bawah */
  display: flex !important;
  justify-content: center;
  gap: 10px;
}

.slick-dots li {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
}

.slick-dots li button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ddd;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  opacity: 0.7;
}

.slick-dots li.slick-active button {
  background: #ef4444; /* merah RoodFoodie */
  opacity: 1;
  box-shadow: 0 0 8px #ef4444;
}

/* sliderCustom.css */

/* Mengubah warna dot default */
.slick-dots li button:before {
  color: white; /* ganti sesuai warna yg diinginkan */
  opacity: 0.7;
}

/* Dot aktif */
.slick-dots li.slick-active button:before {
  color: #f87171; /* merah muda, sesuaikan */
  opacity: 1;
}